body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    
    
}
#body-image{
    background-image: url("https://images.unsplash.com/photo-1609538106201-e0dc68873410?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=888&q=80");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    opacity: 0.9;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

h1 {
    font-size: 45px;
    margin: 0;
    color: #fff;
    font-family: 'sans-serif'
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}
#image1{
    max-width: 900px;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: -15vh;
    align-items: center;
    position: relative;
}
#image1 img{
    align-content: center;
   
}

#about {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman';

}

#card{
	text-align: center;
	width: 6rem;
	background-color: rgb(49, 101, 119);
	border-radius: 10rem;
    text-decoration: none;

}
#card a{
    color: #fff;
    text-decoration: none;
}
#more :hover{
    background-color:#989ea0;
}
#more{
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

img {

    height: auto;
    margin-bottom: 5px;
    width: 100%;

}

h2 {
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: 'sans-serif';
    margin-top: 30px;
    color: #fff;
}

p {
    color: #fff;
    justify-content: center;
    /* text-align: center; */
}

ul {
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 20px;
}

li {
    line-height: 1.5;
    color: #fff;
}
footer{
    text-align: center;
}